.fb-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.fb-row-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.fb-row-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start; }

.fb-row-start {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start; }

body {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.4; }

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 34px;
  color: black;
  text-transform: uppercase; }

h2 {
  font-family: "Roboto Slab", serif;
  font-size: 26px;
  color: black;
  text-transform: uppercase; }

h3 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  color: black;
  text-transform: uppercase; }

h4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  text-transform: uppercase; }

h5 {
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  text-transform: uppercase; }

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: grey; }

input {
  transition: ease 0.225s; }

.btn {
  width: 185px;
  height: 32px;
  line-height: 28px;
  text-align: center;
  border-radius: 20px;
  font-size: 13px;
  text-transform: uppercase;
  color: black;
  background: white;
  border: 2px solid #fddd32;
  font-weight: 900;
  cursor: pointer;
  transition: ease 0.225s; }
  .btn:hover {
    background: #fddd32;
    transition: ease 0.225s; }

.wrap {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto; }

.header {
  padding: 7px 0;
  background: white; }

.head-logo {
  font-weight: 900;
  color: #333333;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 40px; }

.head-phone {
  font-size: 21px;
  font-weight: 900;
  color: black;
  margin-right: 20px; }
  .head-phone a {
    color: black; }

.map-link {
  position: relative;
  font-size: 13px;
  font-weight: 900;
  color: black;
  padding-left: 20px;
  transition: ease 0.225s; }
  .map-link:hover {
    color: #fabb00;
    transition: ease 0.225s; }
  .map-link:before {
    position: absolute;
    content: "";
    width: 13px;
    height: 17px;
    left: 0;
    top: 0;
    background: url(../img/marker.png) center no-repeat; }

.navi {
  padding: 16px 0;
  background: #523a52;
  transition: ease 0.225s;
  z-index: 100; }
  .navi ul {
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: default; }
  .navi li {
    margin-right: 33px;
    display: inline-block;
    vertical-align: top;
    cursor: default; }
  .navi a {
    color: white;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    transition: ease 0.225s; }
    .navi a:hover {
      color: #cccccc;
      transition: ease 0.225s; }
  .navi .yellow {
    color: #fddd32 !important; }
    .navi .yellow:hover {
      opacity: 0.8; }
  .navi .btn {
    text-transform: none;
    background: transparent;
    color: white;
    transition: ease 0.225s; }
    .navi .btn:hover {
      background: #fddd32;
      color: #111111;
      transition: ease 0.225s; }

.nav-fix {
  transform: translateX(0) !important;
  opacity: 1;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.5); }

#burger {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 200;
  left: 8px;
  top: 8px;
  background: #674967;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer; }

#burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 35px;
  background: #fddd32;
  border-radius: 9px;
  opacity: 1;
  left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

#burger span:nth-child(1) {
  top: 10px; }

#burger span:nth-child(2) {
  top: 23px; }

#burger span:nth-child(3) {
  top: 36px; }

#burger.open span:nth-child(1) {
  top: 23px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

#burger.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#burger.open span:nth-child(3) {
  top: 23px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.lk {
  position: relative;
  padding-left: 27px;
  font-size: 13px;
  font-weight: 900;
  color: black;
  margin-right: 35px; }
  .lk:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 17px;
    background: url(../img/lk.png) center no-repeat;
    left: 0;
    top: -1px; }

.promo {
  padding: 70px 20px;
  background: url(../img/promo-bg.jpg) center no-repeat;
  background-size: cover; }

.promo2 {
  display: none;
  padding: 70px 20px;
  background: url(../img/promo-bg.jpg) center no-repeat;
  background-size: cover; }
  .promo2 .promo-leftside p {
    position: relative;
    margin-top: 0;
    padding-left: 25px;
    margin-bottom: 20px; }
    .promo2 .promo-leftside p:after {
      position: absolute;
      content: "";
      background: url(../img/star-ic.png) center no-repeat;
      width: 12px;
      height: 12px;
      left: 4px;
      top: 4px; }

.promo-wrap {
  width: 100%;
  max-width: 1400px;
  padding: 70px 20px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2); }

.promo-leftside {
  max-width: 560px; }
  .promo-leftside h1 {
    margin-bottom: 50px;
    line-height: 42px; }

.promo-btn {
  position: relative;
  background: #fddd32;
  width: 100%;
  max-width: 325px;
  height: 63px;
  line-height: 63px;
  padding-left: 35px;
  color: black;
  font-weight: 900;
  font-size: 18px;
  border-radius: 40px;
  cursor: pointer;
  transition: ease 0.225s; }
  .promo-btn:hover {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.4);
    transform: translateY(-3px); }
    .promo-btn:hover:after {
      right: 30px;
      transition: ease 0.225s; }
  .promo-btn:after {
    position: absolute;
    content: "";
    width: 14px;
    height: 18px;
    background: url(../img/btn-arrow.png) center no-repeat;
    right: 35px;
    top: 24px;
    transition: ease 0.225s; }

.why {
  padding: 80px 0;
  background: white; }
  .why h3 {
    text-align: center;
    margin: 0 0 60px; }
  .why .fb-row-center {
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start; }

.why-item {
  text-align: center;
  margin: 0 40px 30px;
  width: 170px; }
  .why-item img {
    display: inline-block;
    margin-bottom: 20px; }
  .why-item h5 {
    margin: 0;
    color: #4d4d4d; }

.interest {
  padding: 80px 0;
  background: #f2f2f2; }
  .interest h3 {
    text-align: center;
    margin: 0 0 20px; }
  .interest p {
    text-align: center;
    margin: 0 0 50px; }
  .interest h2 {
    color: #fddd32;
    font-size: 107px;
    margin: 0 0 10px; }
  .interest .why-item {
    width: 200px;
    margin: 0 20px 40px; }
  .interest .fb-row-center {
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start; }

.results {
  padding: 80px 0;
  background: white; }
  .results h3 {
    text-align: center;
    margin: 0 0 60px; }

.res-item {
  margin: 0 50px 30px; }

.callback {
  background: #523a52;
  padding: 50px 0 0px; }
  .callback h4 {
    text-transform: inherit;
    font-weight: 300;
    margin: 0 0 35px;
    color: white;
    font-size: 16px; }

.callback-form {
  width: 100%; }
  .callback-form .call-label {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    min-height: 87px;
    max-width: 430px;
    margin-right: 15px;
    margin-bottom: 20px; }
    .callback-form .call-label .-error {
      font-size: 13px;
      color: #ea8a79; }
  .callback-form input {
    display: inline-block;
    vertical-align: middle;
    border: none;
    outline: none;
    background: white;
    width: 100%;
    max-width: 430px;
    height: 45px;
    line-height: 45px;
    padding: 0 23px;
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 16px;
    transition: ease 0.225s; }
    .callback-form input:focus {
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
      transition: ease 0.225s; }
  .callback-form .btn {
    display: inline-block;
    vertical-align: middle;
    background: #fddd32;
    outline: none;
    width: 240px;
    height: 45px;
    margin-bottom: 60px;
    line-height: 41px;
    border-radius: 40px; }
    .callback-form .btn:hover {
      box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.4);
      transform: translateY(-3px); }

.ifelse {
  padding: 80px 0 70px;
  background: white; }
  .ifelse h2 {
    margin: 0 0 50px; }

.if-item-row {
  text-align: center; }

.if-item {
  display: inline-block;
  vertical-align: top;
  background: #523a52;
  padding: 40px 30px 30px 30px;
  margin: 0 33px 20px 0;
  width: 29%;
  max-width: 350px;
  height: 320px;
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.3); }
  .if-item img {
    display: block;
    margin: 0 auto 40px; }
  .if-item h4 {
    color: #fddd32;
    margin: 0 0 10px; }
  .if-item p {
    font-size: 16px;
    margin: 0;
    color: white; }

.process {
  padding: 0px 0 70px;
  background: white; }
  .process .fb-row {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start; }
  .process h2 {
    text-align: center;
    margin: 0 0 25px; }
  .process h3 {
    text-align: center;
    margin: 0 0 5px; }
    .process h3 span {
      color: #fabb00; }
  .process img {
    margin-bottom: 20px; }

.pro-item p {
  text-align: center;
  margin: 0 0 5px; }
.pro-item h5 {
  text-align: center;
  margin: 0; }

.pro-arrow {
  padding-top: 100px;
  margin: 0 40px; }
  .pro-arrow img {
    display: block;
    margin: 0 auto 20px; }

.purposes {
  padding: 30px 0 0;
  background: white; }
  .purposes h3 {
    margin: 0 0 80px;
    text-align: center; }
    .purposes h3 span {
      color: #fabb00; }

.purposes-grey {
  background: whitesmoke;
  min-height: 600px; }

.purposes-circle {
  position: relative;
  width: 465px;
  height: 550px;
  margin: 0 auto; }

.sm-circle {
  display: block;
  position: absolute;
  left: 50%;
  top: 155px;
  transform: translateX(-50%); }

.pur-c {
  display: block;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 230px;
  transform: translateX(-50%); }

.pur-apple {
  display: block;
  position: absolute;
  z-index: 10;
  left: 30px;
  top: 135px; }

.pur-velo {
  display: block;
  position: absolute;
  z-index: 10;
  right: 30px;
  bottom: 70px; }

.pur-particles {
  position: absolute;
  display: block;
  left: -110px;
  top: 100px; }

.purposes-paper-1 {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-width: 320px;
  padding: 25px;
  background: white;
  left: -260px;
  top: -35px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15); }
  .purposes-paper-1 h4 {
    margin: 5px 0 15px; }
    .purposes-paper-1 h4 span {
      color: #fabb00;
      font-size: 16px;
      text-transform: none; }
  .purposes-paper-1 p {
    margin: 0 0 8px; }

.purposes-paper-2 {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-width: 320px;
  padding: 30px 25px 25px 30px;
  background: white;
  right: -250px;
  bottom: -90px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15); }
  .purposes-paper-2 h4 {
    margin: 5px 0 15px; }
    .purposes-paper-2 h4 span {
      color: #fabb00;
      font-size: 16px;
      text-transform: none; }
  .purposes-paper-2 p {
    margin: 0 0 8px; }

.two-buttons {
  padding: 85px 0 60px;
  background: #523a52; }
  .two-buttons h3 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Ubuntu", sans-serif; }

.t-btn, .format-button {
  width: 290px;
  padding: 13px;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.2;
  color: black;
  cursor: pointer;
  border-radius: 40px;
  margin: 0 20px 20px;
  border: 2px solid #fddd32;
  background: #523a52;
  color: white;
  transition: ease 0.225s; }
  .t-btn:hover, .format-button:hover {
    transform: translateY(-3px);
    color: black;
    background: #fddd32;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.4);
    transition: ease 0.225s; }

.t-btn-active {
  background: #fddd32;
  color: black; }
  .t-btn-active:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.4); }

.prices {
  background: white;
  padding: 80px 0; }
  .prices h2 {
    text-align: center;
    margin: 0 0 10px; }
  .prices p {
    text-align: center;
    color: grey;
    margin: 0 0 50px; }

.slider-wrap {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.175);
  padding: 0px 0 1px;
  margin: 40px auto 60px;
  max-width: 900px; }
  .slider-wrap h3 {
    text-align: center;
    margin-bottom: 30px; }

.prices-slider {
  position: relative; }
  .prices-slider h3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

.prices-slider-item {
  outline: none; }
  .prices-slider-item img {
    display: block;
    width: 100%; }

.si-img-wrap {
  position: relative;
  width: 235px;
  margin: 0 auto; }

.slick-prev {
  background: url(../img/slide-arrow.png) center no-repeat !important;
  width: 29px;
  height: 51px;
  z-index: 10;
  transform: rotate(0deg) translateY(-50%); }
  .slick-prev:before {
    content: none; }
  .slick-prev:hover {
    background: url(../img/slide-arrow.png) center no-repeat; }

.slick-next {
  background: url(../img/slide-arrow.png) center no-repeat !important;
  width: 29px;
  height: 51px;
  z-index: 10;
  transform: rotate(180deg) translateY(50%); }
  .slick-next:before {
    content: none; }
  .slick-next:hover {
    background: url(../img/slide-arrow.png) center no-repeat; }

.slick-dots {
  bottom: -80px; }

.slick-dots li button::before {
  color: #f2f2f2;
  opacity: 1; }

.slick-dots li.slick-active button:before {
  color: #333333;
  opacity: 1; }

.propose {
  padding: 70px 0 50px;
  background: white;
  text-align: center; }
  .propose p {
    margin: 0 0 10px; }
  .propose h4 {
    margin: 0 0 70px; }
    .propose h4 span {
      color: #fabb00; }
  .propose h2 {
    margin: 0 0 10px; }

.prop-row {
  padding-top: 50px; }

.prop-item {
  width: 25%;
  margin: 0 0px 40px; }

.table {
  padding: 70px 0 80px;
  background: #f7f7f7;
  font-family: "Roboto Slab", serif; }
  .table h2 {
    text-align: center;
    margin-bottom: 40px; }
  .table p {
    text-align: center;
    margin: 0 0 50px; }

.resume-table-wrap {
  max-width: 960px;
  margin: 0 auto; }

.resume-table {
  box-shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.5); }

.resume-table-header {
  text-transform: uppercase; }
  .resume-table-header .resume-table-cell {
    height: 85px; }

.resume-table-row:not(.resume-table-header) {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.resume-table-cell {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  width: 25%;
  height: 60px;
  color: white;
  font-size: 13px;
  text-align: center;
  background: #523a52;
  border-bottom: 2px solid #634863;
  border-left: 2px solid #634863; }
  .resume-table-cell:nth-child(1) {
    padding-left: 20px;
    padding-right: 10px;
    text-align: left;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start; }
  .resume-table-cell:nth-child(2) {
    background: #fddd32;
    color: #523a52;
    border-bottom: 2px solid #e8cb2e; }
  .resume-table-cell:last-child {
    border-right: 2px solid #634863; }

.resume-table-cell.bold-view {
  font-size: 32px;
  font-weight: 900; }

.now-how h2 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0; }
.now-how h3 {
  text-align: center;
  text-transform: none;
  margin-bottom: 50px; }
.now-how h5 {
  text-align: center;
  font-size: 16px;
  margin: 0 0 30px;
  font-family: "Ubuntu", sans-serif;
  text-transform: none;
  font-weight: 400;
  color: #414141; }

.now-how-1 {
  background: #f7f7f7;
  padding: 80px 0; }
  .now-how-1 .fb-row-top {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around; }

.now-how-title {
  position: relative;
  margin: 0 0 40px;
  text-align: left;
  padding-left: 40px; }
  .now-how-title span {
    display: inline-block;
    vertical-align: top; }

.now-how-title-count {
  font-family: "Roboto Slab", serif;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  text-align: center;
  width: 26px;
  height: 26px;
  line-height: 22px;
  border-radius: 100%;
  border: 1px solid #111111;
  font-weight: 900; }

.now-how-title-text {
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-size: 18px;
  color: #111111;
  font-weight: 900; }

.yellow-txt {
  color: #e5ce3c;
  font-weight: 900; }

.yellow-txt-bg {
  position: relative;
  z-index: 5;
  vertical-align: top;
  display: inline-block; }
  .yellow-txt-bg:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 70%;
    background: #fddd32;
    top: 5px;
    left: 0;
    z-index: -1; }

.now-how-img {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 50px; }

.online-metodist-item {
  margin: 0 30px 20px;
  text-align: center;
  width: 100%;
  max-width: 300px; }
  .online-metodist-item img {
    display: block;
    margin: 0 auto 15px;
    border-radius: 100%; }
  .online-metodist-item h6 {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 15px; }

.nowhow-button {
  display: block;
  margin: 0 auto;
  text-align: center; }
  .nowhow-button .qu-btn {
    font-size: 14px;
    line-height: 45px; }

.now-how-2 {
  padding: 70px 0 50px;
  background: white; }

.steps-row {
  position: relative;
  margin-bottom: 50px;
  align-items: baseline; }

.steps-row-dots {
  position: absolute;
  width: calc(100% - 280px);
  height: 3px;
  left: 140px;
  bottom: 90px;
  background: #b3b3b3; }
  .steps-row-dots span {
    position: absolute;
    top: -5px;
    width: 14px;
    height: 14px;
    border: 3px solid #b3b3b3;
    border-radius: 100%;
    background: white; }
    .steps-row-dots span:nth-child(1) {
      left: calc(0% - 7px); }
    .steps-row-dots span:nth-child(2) {
      left: calc(33% - 7px); }
    .steps-row-dots span:nth-child(3) {
      left: calc(66% - 7px); }
    .steps-row-dots span:nth-child(4) {
      left: calc(100% - 7px); }

.step-item {
  text-align: center;
  width: 25%; }
  .step-item img {
    display: inline-block;
    margin-bottom: 60px; }
  .step-item:last-child .steps-dot:after {
    display: none; }

.steps-dot {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 13px;
  height: 13px;
  border: 3px solid #b3b3b3;
  border-radius: 100%;
  background: white;
  margin-bottom: 20px; }
  .steps-dot:after {
    position: absolute;
    content: "";
    width: 290px;
    height: 3px;
    background: #b3b3b3;
    left: 100%;
    top: 2px; }

.steps-label {
  text-transform: uppercase;
  font-size: 14px;
  color: #fddd32;
  font-weight: 900;
  margin: 0 0 15px; }

.steps-label-p {
  margin: 0 0 15px; }

.about-graphic {
  text-align: center;
  padding: 30px 0 0; }
  .about-graphic h3 {
    margin-bottom: 30px; }

.about-graphic__toggle {
  position: relative;
  font-size: 18px;
  border-bottom: 2px dashed #111111;
  cursor: pointer;
  margin-bottom: 10px;
  font-family: "Roboto Slab", serif;
  display: inline-block;
  font-weight: 900; }
  .about-graphic__toggle:after {
    position: absolute;
    content: "+";
    font-size: 25px;
    line-height: 30px;
    font-weight: 900;
    color: #111111;
    right: -45px;
    top: -5px;
    border: 3px solid #111111;
    width: 30px;
    height: 30px;
    border-radius: 100%; }

.about-graphic__hide {
  display: none;
  padding-bottom: 30px; }

.about-graphic-img {
  width: 100%;
  max-width: 850px;
  margin: 40px auto;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2); }

.about-graphic__hide-last-p {
  margin-bottom: 0; }

.now-how-3 {
  background: #f7f7f7;
  padding: 70px 0; }
  .now-how-3 .fb-row {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around; }
    .now-how-3 .fb-row img {
      display: block; }
    .now-how-3 .fb-row p {
      width: calc(50% - 40px);
      padding-left: 20px; }

.now-how-4 {
  padding: 80px 0 40px;
  text-align: center; }

.pluses {
  position: relative;
  background: white;
  padding: 0px; }
  .pluses:after {
    position: absolute;
    content: "";
    width: 853px;
    height: 808px;
    background: url(../img/pluses-bg.png) center no-repeat;
    left: 53%;
    transform: translateX(-50%);
    top: 360px; }
  .pluses h2 {
    text-align: center;
    margin: 0 0 65px; }
  .pluses .pluses-h4 {
    padding-left: 240px; }
  .pluses h4 {
    margin: 0 0 20px; }

.pluses-block {
  position: relative;
  background: #f2f2f2;
  padding-bottom: 1px;
  padding-top: 1px; }

.pluses-wrap {
  max-width: 950px;
  margin: 0 auto; }

.pluses-row {
  padding-top: 1px;
  padding-bottom: 1px;
  position: relative; }

.pluses-item {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 370px;
  margin: 0 20px;
  padding: 50px 70px 50px 35px;
  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); }
  .pluses-item h4 {
    color: #fabb00; }

.pluses-row-h4 {
  margin: 0px !important;
  text-align: left;
  padding-left: 470px;
  transform: translateY(90px); }

.pi-1 {
  transform: translateX(20px) translateY(50px); }

.pi-2 {
  transform: translateX(40px) translateY(-50px); }

.pi-3 {
  transform: translateX(350px) translateY(-80px); }

.pi-4 {
  transform: translateX(-20px) translateY(30px); }

.pi-5 {
  transform: translateX(-170px) translateY(190px); }

.pi-6 {
  transform: translateX(570px) translateY(-20px);
  margin-top: -160px; }

.pluses-adress-link {
  position: relative;
  color: #fabb00;
  font-weight: 900; }
  .pluses-adress-link:after {
    position: absolute;
    content: "";
    right: -20px;
    top: 3px;
    width: 9px;
    height: 15px;
    background: url(../img/after-arr.png) center no-repeat;
    transition: ease 0.225s; }
  .pluses-adress-link:hover:after {
    right: -24px;
    transition: ease 0.225s; }

.iphone {
  padding: 120px 0 80px;
  background: #fddd32;
  text-align: center; }
  .iphone img {
    display: block;
    width: 100%;
    max-width: 670px;
    margin: 0 auto 50px; }
  .iphone p {
    color: #333333; }

.format {
  background: white;
  padding: 80px 0 60px; }
  .format .fb-row-center {
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: 70px; }
  .format h2 {
    text-align: center;
    margin: 0 0 60px; }

.format-item {
  width: 100%;
  max-width: 365px;
  background: #523a52;
  padding: 50px 35px 50px 25px;
  margin: 0 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); }
  .format-item h4 {
    color: #fddd32;
    margin-bottom: 20px;
    text-align: center; }
  .format-item ul {
    list-style: none;
    margin: 0 0 50px;
    min-height: 410px;
    padding: 0; }
  .format-item li {
    position: relative;
    padding-left: 27px;
    color: white;
    margin-bottom: 12px; }
    .format-item li:after {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      background: url(../img/star-ic.png) center no-repeat;
      left: 3px;
      top: 5px; }

.format-price {
  text-align: center;
  color: #fddd32;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 40px; }

.format-button {
  padding: 0;
  width: 210px;
  height: 45px;
  line-height: 40px;
  background: #fddd32;
  margin: 0 auto;
  color: #111111; }

.callback-grey {
  background: #f2f2f2;
  padding: 50px 0 0px; }
  .callback-grey h4 {
    color: black; }

.comments {
  background: white;
  padding: 80px 0 1px; }
  .comments .fb-row {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around;
    padding: 0 30px; }
  .comments h2 {
    text-align: center;
    margin: 0 0 90px; }

.comm-item {
  position: relative;
  width: 100%;
  max-width: 440px;
  min-height: 370px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
  padding: 50px 40px 35px 40px;
  background: white;
  margin: 0 0px 100px; }
  .comm-item img {
    position: absolute;
    left: -70px;
    top: -55px; }
  .comm-item a {
    display: inline-block;
    position: relative;
    margin: 0 0 30px;
    font-size: 18px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    transition: ease 0.225s; }
    .comm-item a:hover {
      color: #436eab;
      transition: ease 0.225s; }
    .comm-item a:after {
      position: absolute;
      content: "";
      width: 50px;
      height: 3px;
      background: black;
      bottom: -15px;
      left: 0; }
    .comm-item a:before {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      background: black;
      top: 5px;
      right: -27px;
      background: url(../img/vk.png) center no-repeat; }
  .comm-item p {
    font-size: 14px;
    color: #111111; }
    .comm-item p i {
      color: #111111;
      font-weight: 700;
      font-size: 15px; }
  .comm-item .comm-date {
    position: absolute;
    left: 50px;
    bottom: 20px;
    font-style: italic; }

.summer {
  position: relative;
  background: #fddd32;
  padding: 85px 0; }
  .summer:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: 0;
    background: url(../img/palm.png) center no-repeat;
    top: 0;
    right: 0; }
  .summer h2 {
    position: relative;
    z-index: 10;
    margin: 0 0 20px;
    text-align: center; }
  .summer p {
    position: relative;
    z-index: 10;
    margin: 0 0 60px;
    text-align: center;
    color: #111111; }

.summer-item {
  position: relative;
  z-index: 10;
  background: white;
  width: 260px;
  height: 330px;
  margin: 0 15px 30px;
  padding: 35px 30px 30px 30px;
  box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.2); }
  .summer-item .left-1 {
    display: none;
    position: absolute;
    left: -62px;
    top: 80px; }
  .summer-item .left-2 {
    display: none;
    position: absolute;
    right: 20px;
    bottom: -90px;
    transform: rotate(220deg); }
  .summer-item img {
    display: block;
    margin: 0 auto 30px; }
  .summer-item p {
    text-align: left;
    color: grey; }

.summer-why-block {
  position: relative;
  z-index: 10;
  padding-top: 60px;
  padding-bottom: 20px; }

.circle-percent {
  position: relative;
  z-index: 10;
  width: 300px;
  margin: 0 30px 30px; }
  .circle-percent span {
    position: absolute;
    color: #523a52;
    font-weight: 900;
    font-size: 100px;
    right: 0;
    top: 50px; }

.summer-why {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 450px;
  margin: 0 30px 30px;
  text-align: left; }
  .summer-why h3 {
    margin: 0 0 15px; }
  .summer-why p {
    text-align: left;
    margin: 0 0 15px; }
  .summer-why h4 {
    text-transform: none;
    font-size: 16px; }

.summer-star-h3 {
  text-align: center;
  margin: 0 0 40px;
  position: relative;
  z-index: 10; }

.summer-star-row {
  position: relative;
  z-index: 10;
  margin-bottom: 30px; }
  .summer-star-row .fb-row {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around; }

.summer-star-item {
  width: 30%;
  text-align: center;
  min-width: 300px; }
  .summer-star-item img {
    display: inline-block;
    margin: 0 0 20px; }

.summer-details {
  position: relative !important;
  font-size: 16px !important;
  text-align: left !important;
  margin-bottom: 0 !important; }
  .summer-details:after {
    position: absolute;
    content: "";
    width: 110px;
    height: 1px;
    top: -20px;
    left: 0;
    background: #555555; }

.giro {
  position: relative;
  background: white;
  padding: 80px 0 1px; }
  .giro:after {
    position: absolute;
    content: "";
    width: 678px;
    height: 214px;
    left: 40%;
    top: 100px;
    transform: translateX(-50%);
    background: url(../img/giro-ic.png) center no-repeat; }
  .giro h4 {
    margin: 0 0 60px; }
  .giro img {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto; }

.lg-callback {
  padding: 70px 0 0px; }

.lg-call-simplep {
  color: white;
  margin: 0 0 20px; }

.lg-call-p {
  padding-left: 25px;
  color: white;
  position: relative; }
  .lg-call-p:after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background: url(../img/star-ic.png) center no-repeat;
    left: 0;
    top: 9px; }
  .lg-call-p span {
    font-weight: 900;
    font-size: 20px;
    color: #fddd32;
    padding-left: 1px; }

.questions {
  background: white;
  padding: 80px 0;
  text-align: center; }
  .questions h2 {
    margin: 0 0 10px; }
  .questions p {
    margin: 0 0 40px; }
    .questions p a {
      color: #333333; }

.qu-btn {
  display: inline-block;
  vertical-align: middle;
  background: #fddd32;
  outline: none;
  width: 240px;
  height: 45px;
  line-height: 41px;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.17);
  transition: ease 0.225s; }
  .qu-btn:hover {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    transition: ease 0.225s; }

.footer {
  background: #4d4d4d;
  padding: 30px; }
  .footer .copy {
    font-size: 16px;
    color: white; }
  .footer .to-top {
    font-weight: 900;
    color: white;
    margin-left: -90px;
    position: relative;
    cursor: pointer;
    transition: ease 0.225s; }
    .footer .to-top:hover:after {
      top: -6px;
      transition: ease 0.225s; }
    .footer .to-top:after {
      position: absolute;
      content: "";
      width: 18px;
      height: 24px;
      background: url(../img/totop.png) center no-repeat;
      right: -27px;
      top: -2px;
      transition: ease 0.225s; }
  .footer .share {
    color: #fddd32;
    font-weight: 900;
    font-weight: 17;
    font-size: 14px;
    transition: ease 0.225s;
    text-align: center; }
    .footer .share:hover {
      opacity: 0.9;
      transition: ease 0.225s; }

.ya-share2 {
  text-align: center;
  margin-top: 5px; }

.popup-wrap {
  display: none;
  /* visibility: hidden */
  /* opacity: 0 */
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% + 17px);
  height: 100%;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.9); }

.popup-closearea {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.popup-box-1 {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  position: relative;
  z-index: 5;
  margin: 50px auto;
  padding: 40px;
  width: 100%;
  background: #fddd32;
  max-width: 700px;
  min-height: 420px;
  box-shadow: 18px 18px 40px 0 rgba(0, 0, 0, 0.35);
  -webkit-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s; }

.popup-kick {
  position: absolute;
  z-index: 10000;
  right: 15px;
  top: 15px;
  padding: 7px;
  cursor: pointer;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }

.popup-kick:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }

.popup-kick img {
  display: block; }

.popup-box-2 {
  opacity: 1;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  position: relative;
  z-index: 5;
  margin: 50px auto;
  padding: 25px;
  width: 100%;
  max-width: 370px;
  min-height: 370px;
  background: white;
  box-shadow: 18px 18px 40px 0 rgba(0, 0, 0, 0.35);
  -webkit-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s; }

.popup-effect {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: ease 0.4s;
  -o-transition: ease 0.4s;
  transition: ease 0.4s; }

.popup-title {
  color: #111111;
  margin: 0 0 30px; }

.popup-form-1 {
  display: block;
  width: 100%; }
  .popup-form-1 .form-label {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    min-height: 94px;
    margin: 10px 5px 15px; }
    .popup-form-1 .form-label input {
      display: block;
      width: 100%;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 10px;
      outline: none;
      border: 2px solid transparent !important;
      transition: ease 0.225s; }
      .popup-form-1 .form-label input:focus {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
        transition: ease 0.225s; }
  .popup-form-1 .-error {
    font-size: 13px;
    transition: ease 0.225s; }
  .popup-form-1 .input-6 {
    max-width: 330px;
    min-height: 94px; }
  .popup-form-1 .input-4 {
    max-width: 250px;
    min-height: 94px; }

input.-error {
  border: 2px solid #ea8a79 !important; }

.radio-row {
  padding-top: 20px;
  margin-bottom: 0px;
  text-align: center; }
  .radio-row label {
    margin: 0 10px 20px;
    cursor: pointer; }
    .radio-row label span {
      padding-left: 5px; }
  .radio-row input {
    display: none; }

.radio-wrap {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle; }

.radio-box {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%; }

.radio-body {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  background: #523a52;
  border-radius: 50%;
  display: none; }

.popup-button {
  display: block;
  margin: 20px auto;
  background: #523a52;
  width: 240px;
  height: 50px;
  line-height: 46px;
  text-align: center;
  font-weight: 900;
  font-size: 16px;
  color: white;
  border-radius: 30px;
  outline: none;
  border: none;
  transition: ease 0.225s; }
  .popup-button:hover {
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
    transition: ease 0.225s; }

.popup-foot-text {
  font-size: 16px;
  font-weight: 900;
  max-width: 420px;
  margin: 0 auto;
  color: black;
  text-align: center; }

.form-mail-field span {
  max-width: 200px;
  font-size: 16px;
  color: #111111;
  margin-top: 20px;
  display: inline-block;
  vertical-align: middle; }

.form-mail-label {
  max-width: 330px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0; }
  .form-mail-label input {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 10px;
    outline: none;
    border: none;
    transition: ease 0.225s; }
    .form-mail-label input:focus {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
      transition: ease 0.225s; }

.required-input {
  border: 2px solid tomato !important; }

.frame-map {
  position: absolute;
  width: 100%;
  min-width: 300px;
  height: 100%;
  min-height: 400px;
  left: 0;
  top: 0; }

.popup-map-adresses {
  background: white;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 101%;
  width: 100%; }
  .popup-map-adresses p {
    margin: 0; }

@media only screen and (min-width: 900px) {
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3); } }
@media only screen and (max-width: 1250px) {
  .slick-prev {
    left: 1%; }

  .slick-next {
    right: 1%; } }
@media only screen and (max-width: 1200px) {
  .ifelse h2 {
    text-align: center; }

  .if-item {
    margin: 0 15px 25px; }

  .format-item {
    margin: 0 10px 30px;
    padding: 30px 25px; }

  .callback-grey h4 {
    text-align: center; }

  .comm-item {
    padding: 30px 25px 20px 25px;
    margin: 0 15px 40px; }
    .comm-item img {
      position: static;
      display: block;
      margin: 0 auto 20px; }

  .comments .fb-row {
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start; }

  .comm-item .comm-date {
    position: static; }

  .callback-form .call-label {
    width: 30%; } }
@media only screen and (max-width: 1100px) {
  .promo-leftside h1 {
    font-size: 28px; }

  .promo-paper img {
    max-width: 280px; }

  .promo .fb-row {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around; }

  .promo-hero-arrow {
    display: none !important; } }
@media only screen and (max-width: 1000px) {
  .purposes-grey {
    min-height: auto; }

  .purposes-circle {
    width: 100%;
    height: auto;
    padding: 60px 0 30px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start; }

  .purposes-paper-1 {
    position: static;
    display: inline-block;
    vertical-align: middle; }

  .purposes-paper-2 {
    position: static;
    display: inline-block;
    vertical-align: middle; }

  .pur-c {
    top: -70px; }

  .sm-circle,
  .b-circle,
  .pur-apple,
  .pur-velo,
  .pur-particles {
    display: none; }

  .pluses:after {
    display: none; }

  .pi-1,
  .pi-2,
  .pi-3,
  .pi-4,
  .pi-5,
  .pi-6 {
    position: static;
    transform: translate(0, 0); }

  .pi-6 {
    margin-top: 0; }

  .pluses-row-h4 {
    transform: translate(0, 0); }

  .navi {
    padding: 16px 0 0; }

  .navi li {
    margin-right: 18px;
    margin-bottom: 20px; }

  .navi .btn {
    margin-bottom: 20px; }

  .lk {
    margin-bottom: 15px; }

  .callback-form {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }

  .callback h4 {
    text-align: center; }

  .pluses h2 {
    margin: 0 0 20px; }

  .pluses .pluses-h4 {
    padding: 0;
    text-align: center;
    margin-bottom: 30px; }

  .pluses-row-h4 {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    margin: 20px 0 50px !important; }
    .pluses-row-h4 br {
      display: none; }

  .pluses-wrap {
    padding: 40px 0 1px; }

  .pluses-item {
    min-width: 275px;
    min-height: 220px;
    margin-bottom: 30px;
    width: 47%;
    padding: 25px; }

  .pluses-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start; }

  .pluses-adress-link:after {
    display: none; }

  .pluses-item h4 {
    font-size: 15px; }
    .pluses-item h4 br {
      display: none; }

  .pluses-item p {
    font-size: 15px; }

  .iphone {
    padding: 40px 0; }

  .format-item li {
    font-size: 14px; }

  .format-item ul {
    min-height: 325px; }

  .lg-call-simplep {
    text-align: center; }

  .lg-call-p {
    max-width: 320px;
    margin: 0 auto 20px; } }
@media only screen and (max-width: 900px) {
  .navi {
    position: fixed;
    z-index: 190;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    padding-top: 20px;
    transform: translateX(-100%);
    transition: 0.4s ease-in-out; }

  .navi ul {
    text-align: center;
    margin: 0 auto; }

  .navi li {
    display: block;
    margin: 0 10px 15px; }

  .navi .btn {
    margin: 0 auto; }

  .lk {
    display: block;
    margin: 20px auto 20px; }

  #burger {
    display: block; }

  .promo-leftside h1 {
    font-size: 24px;
    line-height: 30px; }

  .purposes h3 {
    margin: 0 0 30px; }

  .purposes-paper-1,
  .purposes-paper-2 {
    margin: 0 15px 30px;
    min-height: 210px; }

  .pur-c {
    position: static;
    display: block;
    transform: translateX(0); }

  .comments h2 {
    margin: 0 0 40px; }

  .if-item {
    width: 49%; }

  .step-item img {
    max-width: 120px;
    margin-bottom: 25px; }

  .steps-row-dots {
    display: none; } }
@media only screen and (max-width: 800px) {
  .header .fb-row {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding-bottom: 10px; }

  .head-logo,
  .head-phone,
  .map-link {
    margin: 0 20px 20px; }

  .header .fb-row-center {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around; }

  .promo-paper img {
    display: none; }

  .promo-leftside h1,
  .promo-leftside p {
    text-align: center; }

  .promo-btn {
    margin: 0 auto; }

  .pro-arrow {
    margin-bottom: 30px; }

  .purposes-circle {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }

  .slider-wrap h3 {
    margin-bottom: 30px; }

  .two-buttons {
    padding: 50px 0; }

  .questions {
    padding: 40px 0; }

  .footer .fb-row {
    -webkit-flex-flow: column-reverse nowrap;
    -moz-flex-flow: column-reverse nowrap;
    -ms-flex-flow: column-reverse nowrap;
    flex-flow: column-reverse nowrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }

  .copy {
    margin-bottom: 5px; }

  .footer .to-top {
    margin-bottom: 25px;
    margin-left: 0; }

  .share {
    margin-bottom: 25px; }

  .interest {
    padding: 40px 0; }

  .why {
    padding: 40px 0; }

  .results {
    padding: 40px 0; }

  .ifelse {
    padding: 40px 0; }

  .process {
    padding: 0px 0 40px; }

  .prices {
    padding: 40px 0; }

  .comments {
    padding: 40px 0; }

  .summer {
    padding: 40px 0; }

  .summer-why-block {
    padding-top: 30px; }

  .giro h4 {
    text-align: center; }

  .giro:after {
    display: none; }

  .ifelse h2 {
    font-size: 20px; }

  .interest h2 {
    font-size: 80px; }

  .interest .why-item {
    margin: 0 20px 20px; }

  .format-item ul {
    min-height: auto; }

  .callback-grey {
    padding: 40px 0; }

  .comm-item img {
    max-width: 80px; }

  .comm-item p {
    font-size: 15px; }

  .summer h2 {
    font-size: 20px; }

  .questions p {
    padding: 0 20px; }

  .popup-wrap {
    transform: translateX(-1%); }

  .popup-title {
    margin-top: 40px;
    margin-bottom: 20px; }

  .popup-form-1 .form-label {
    margin: 0px 5px 15px;
    display: block;
    width: 100%; }

  .radio-row {
    padding-top: 10px;
    margin-bottom: 20px; }

  .popup-foot-text {
    font-size: 14px; }

  .popup-form-1 .input-6,
  .popup-form-1 .input-4 {
    max-width: 280px; }

  .popup-box-1 {
    padding: 30px 20px 20px 20px;
    margin: 25px auto; }

  .form-mail-field span {
    margin-top: 0; }

  .form-mail-label {
    max-width: 280px; }

  .callback-form {
    text-align: center; }
    .callback-form .call-label {
      display: block;
      width: 100%;
      margin: 0 auto 25px;
      min-height: auto; }

  .resume-table-wrap {
    overflow-x: scroll;
    width: 100%; }

  .resume-table {
    width: 730px; }

  .about-graphic__toggle:after {
    left: 50%;
    bottom: -50px;
    top: auto;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }

  .now-how-3 .fb-row p {
    width: 100%;
    max-width: 360px;
    padding-top: 20px; }

  .now-how-3 .fb-row img {
    width: 100%;
    max-width: 360px; }

  .step-item {
    width: 50%;
    margin-bottom: 30px; } }
@media only screen and (max-width: 700px) {
  .prop-item {
    width: 50%; }

  .why {
    padding: 40px; }

  .head-logo {
    padding-left: 15px; }

  .summer-star-row {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }

  .summer-star-item {
    width: 100%;
    min-width: auto;
    max-width: 300px; }

  .prices {
    padding: 40px 0 100px; }

  .slick-dots {
    bottom: -100px; } }
@media only screen and (max-width: 600px) {
  .giro:after {
    display: none; }

  .process .fb-row {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }

  .pro-arrow {
    padding-top: 0; }

  .pro-item {
    margin-bottom: 40px; }

  .if-item {
    width: 100%;
    margin: 0 auto 30px; } }
@media only screen and (max-width: 500px) {
  .popup-wrap {
    width: 100%;
    transform: translateX(0); }

  .step-item {
    width: 100%; }

  .now-how-title-text {
    font-size: 14px; } }
@media only screen and (max-width: 420px) {
  .promo-leftside h1 {
    font-size: 18px; }

  .promo-wrap {
    padding: 70px 0; }

  .promo-btn {
    font-size: 14px;
    text-align: center;
    padding: 0; }

  .promo-btn::after {
    display: none; }

  .why {
    padding: 20px; }

  .why h3 {
    font-size: 16px; }

  .interest h3 {
    font-size: 16px;
    padding: 0 20px; }

  .results h3 {
    font-size: 16px; }

  .ifelse h2 {
    font-size: 16px; }

  .if-item h4 {
    font-size: 16px; }

  .t-btn, .format-button {
    font-size: 14px; }

  .propose h4 {
    font-size: 15px; }

  .comments .fb-row {
    padding: 0; }

  .summer-item {
    margin: 0 0px 30px; }

  .footer {
    padding: 20px 0; }

  .footer .copy {
    text-align: center; }

  .lg-call-p {
    padding-left: 0;
    padding-top: 25px;
    text-align: center;
    margin: 0 auto 25px; }

  .lg-call-p:after {
    left: 50%;
    transform: translateX(-50%); }

  .lg-call-p span {
    display: block; }

  .purposes-paper-1 h4 span,
  .purposes-paper-2 h4 span {
    display: block; }

  .prices {
    padding: 40px 0 130px; }

  .slick-dots {
    bottom: -120px; }

  .comm-item {
    margin: 0 0px 40px; }

  .comm-item a {
    font-size: 15px; }

  .comm-item a:before {
    top: 2px; } }
